@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800&display=swap");
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #212529;
  height: 100vh;
  font-family: "Nunito", sans-serif;
}
.principal-infos h1 {
  color: #ffffff;
  font-weight: 800;
  font-size: 38px;
  line-height: 48px;
  width: 347px;
}
.principal-infos p {
  color: white;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}
.principal-infos button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 13px 20px;
  gap: 10px;
  width: 241px;
  height: 48px;
  left: 256px;
  top: 490px;
  border: 2px solid transparent;
  border-radius: 8px;
  background-color: #fd377e;
  color: white;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

@media (max-width: 768px) {
  .container {
    position: fixed;
  }
  .principal-infos h1 {
    width: 300px;
  }
  .principal-infos {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
