@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800&display=swap");
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  background-color: #212529;
  height: 100vh;
  font-family: "Nunito", sans-serif;
}
.principal-infos h1 {
  color: #ffffff;
  font-weight: 800;
  font-size: 38px;
  line-height: 48px;
  width: 347px;
}
.principal-infos p {
  color: white;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}
.principal-infos button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 13px 20px;
  gap: 10px;
  width: 241px;
  height: 48px;
  left: 256px;
  top: 490px;
  border: 2px solid transparent;
  border-radius: 8px;
  background-color: #fd377e;
  color: white;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  cursor: pointer;
}
.container-secondary {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 4px 32px -12px rgba(0, 0, 0, 0.25);
  height: 80px;
  width: 100%;
  background-color: white;
}
header button {
  width: 64px;
  height: 40px;
  margin-right: 1rem;
  border: 1.4px solid transparent;
  border-radius: 8px;
  background-color: #e9ecef;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 19px;
  cursor: pointer;
}
header img {
  margin-left: 1rem;
}
.div-header {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
.container-form {
  margin: 0 auto;
  width: 363px;
}
.div-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 15px;
  margin-left: 1rem;
}
form {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px solid #e9ecef;
  border-radius: 4px;
  width: 363px;
  height: 351px;
  gap: 5px;
  margin-top: 8rem;
}
form input {
  width: 314px;
  height: 52.8px;
  background-color: #f8f9fa;
  border: transparent;
  border-radius: 8px;
}
form button {
  width: 314px;
  height: 48px;
  background-color: #fd377e;
  border: transparent;
  border-radius: 8px;
  color: white;
  font-weight: 500;
  font-size: 1rem;
  line-height: 19px;
  cursor: pointer;
}
label {
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 22px;
  color: #212529;
}
form p {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 20px;
  color: #868e96;
}
.valor {
  display: flex;
  gap: 30px;
}
.valor input,
select {
  width: 128px;
  height: 48px;
  border: transparent;
  border-radius: 8px;
}
input:invalid,
select:invalid {
  background-color: #fadfe8;
}
.container-total-value {
  width: 10%;
  border: 1px solid #e9ecef;
  border-radius: 4px;
  width: 363px;
  margin-top: 20px;
}
.container-total-value div {
  display: flex;
  gap: 10%;
  margin-left: 20px;
}
.container-total-value p {
  margin-left: 20px;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 22px;
  color: #212529;
}
.container-total-value div h2 {
  font-weight: 700;
  font-size: 1rem;
  line-height: 30px;
  color: #212529;
}
.container-total-value div h2 + h2 {
  margin-left: 5rem;
  color: #fd377e;
}
.container-result-form {
  width: 363px;
  margin: 0 auto;
}

.container-loading img {
  width: 90%;
  animation: shimmer 1s infinite;
  animation-direction: alternate;
}
.container-loading h2 {
  font-weight: 700;
  font-size: 1.375rem;
  line-height: 34px;
}
@keyframes shimmer {
  100% {
    transform: translateX(1%);
  }
}
ul {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 400px;
  gap: 20px;
}
li {
  display: flex;
  justify-content: space-between;
  background-color: #f8f9fa;
  list-style: none;
  position: relative;
  width: 90%;
  border-radius: 4px;
}
.description-div {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  width: 9rem;
}
.description-div h2 {
  font-weight: 700;
  font-size: 1rem;
  line-height: 30px;
  color: #212529;
  word-wrap: break-word;
}
.description-div p {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 22px;
  color: #212529;
}
.final-div {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin-left: 10rem;
  top: 0;
  right: 0;
  margin-right: 0.5rem;
  margin-top: 1rem;
}
.final-div {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 22px;
  color: #212529;
}
li button {
  border-radius: 2px;
  border: transparent;
  cursor: pointer;
  width: 1.375rem;
  height: 1.375rem;
  background: url("./assets/trash1.png") no-repeat;
}

.Entrada {
  border-left: 6px solid #03b898;
}
.Saída {
  border-left: 6px solid #fd377e;
}
.option-input {
  color: #03b898;
  font-weight: 600;
}
.option-output {
  color: #fd377e;
  font-weight: 600;
}
.container-result-form {
  display: flex;
  flex-direction: column;
}
.container-list {
  margin-left: 0.3rem;
}
.container-list h2 {
  font-weight: 700;
  font-size: 1rem;
  line-height: 30px;
}
.container-list nav {
  display: flex;
  gap: 20px;
}
.container-list nav button {
  width: 92px;
  height: 40px;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 19px;
  background-color: #e9ecef;
  border: 1.4px solid #e9ecef;
  border-radius: 8px;
  cursor: pointer;
}

@media (min-width: 768px) {
  .container {
    position: relative;
  }
  .principal-img {
    animation: spin 1s;
  }
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
  header {
    justify-content: center;
    z-index: 1;
  }
  .div-header {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 25rem;
    justify-content: center;
    position: relative;
  }
  .div-header img {
    position: absolute;
    margin-right: 54rem;
    cursor: pointer;
  }
  .div-header button {
    margin-left: 50rem;
  }

  .container-form {
    margin: 0;
  }
  .container-all {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    gap: 1rem;
    margin: 0 auto;
  }
  .container-result-form {
    margin-top: 7rem;
    margin-right: 15rem;
  }
  ul {
    width: 35rem;
    height: 375px;
  }
  li {
    width: 30rem;
    margin-left: 1rem;
  }
  .description-div {
    display: flex;
    flex-direction: column;
    margin-left: -2rem;
    width: 22rem;
  }
  .container-list {
    position: relative;
    display: flex;
    align-items: center;
    gap: 5.8rem;
    justify-content: space-between;
  }
  .container-list h2 {
    margin-left: 3rem;
    position: absolute;
  }
  .container-list nav {
    margin-left: 13.5rem;
  }
  .container-list nav button:hover {
    background-color: #b7bcc2;
  }
  .container-list nav button:focus {
    background-color: #fd377e;
    border: 1.4px solid #fd377e;
    color: white;
  }
  .container-loading {
    position: relative;
    width: 35rem;
  }
  .container-loading h2 {
    margin-left: 3.5rem;
  }
  .container-loading img {
    position: absolute;
    margin-left: 3.5rem;
  }
  .div-header img:hover {
    margin-top: -10px;
    box-shadow: 0 4px 4px #999;
    transition: all 0.2s ease-in-out;
  }
  li:hover {
    background-color: #fff;
    box-shadow: 0px 0px 2px 0px rgb(238, 230, 230);
  }
  li button:hover {
    border-radius: 2px;
    border: transparent;
    cursor: pointer;
    width: 22px;
    height: 22px;
    background: url("./assets/trash2.png") no-repeat;
  }
  form button:hover {
    background-color: #aa2354;
  }
  header button:hover {
    background-color: #b7bcc2;
  }
  .principal-infos button:hover {
    background-color: #aa2354;
  }
}
